/*
|--------------------------------------------------------------------------
| #BREAKPOINTS
|--------------------------------------------------------------------------
*/



$breakpoints: (
    small:  $small,
    medium:  $medium,
    large: $large,
    extra-large:  $extra-large
) !default;

@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media only screen and (max-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    }

    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}
