/*
|--------------------------------------------------------------------------
| #BUTTON
|--------------------------------------------------------------------------
*/

%button,
.button {
    position: relative;
    display: inline-block;
    padding: .25rem 1.5rem;
    color: color(white);
    background: color(primary);
    border: solid 1px color(primary);
    cursor: pointer;
    outline: none;
    transition: all .3s ease(inOutQuad);

    @if ($has-radius) {
        border-radius: radius(small);
    }

    @if ($has-shadow) {
        @include shadow(raised);
    }

    &:hover {
        background: darken(color(primary), 5%)
    }

    &__outline {
        background: transparent;
        color: color(primary);
        box-shadow: none;

        &:hover {
            color: color(white);
        }
    }

    &__link {
        background: transparent;
        color: color(primary);
        border: solid 1px transparent;
        box-shadow: none;

        &:hover {
            background: transparent;
            color: darken(color(primary), 10%);
        }
    }
}

button {
    @extend %button;
}

button[disabled="disabled"] {
    background: color(grey-light);
    border: solid 1px color(grey-light);
    color: color(grey);
    cursor: not-allowed;
    box-shadow: none;
}

.button__group {

    button,
    .button {
        margin-right: .5rem;
    }
}
